.section-white{
    background: #fff;
    padding: 70px 0;

}
.team-item{
    background: #fff;
    margin: 20px 0;
    padding: 50px 20px 40px 20px;
    border-radius: 8px 8px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 00.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    
}
.team-item:hover{
    background: #3956de;
    color: white;

}
.team-item h1{
    margin: 20px 0 1px 0 !important;
    color: #454545;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; 
    justify-content: center;
    justify-items: center;
    
}
.all{
    display: flex;
    padding-bottom: 40px;
    padding: 20px;
    justify-content: space-evenly;
    
    

}



.team-img1{
    max-width: 100px;
    padding: 6px 6px;
}
p{
    width: 70%;
    height: auto;
    padding: 20px;
    text-align: center;
    padding-right: 40px;
    margin-right: -120px;
}