.navbar{
    width: 1200px;
    height: auto;
    background-color:white;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 20px;
}
.container {
  max-width: 1200px; /* Set a maximum width for your content */
  margin: 0 auto; /* Center the container */
  padding: 0 20px; /* Add space on the left and right sides */
}

.navbar .leftside{
    flex: 50%;
    
    display: flex;
    align-items: center;

}
.logo{
  width: 50px;
  height: 50px;
}
.navbar .rightside{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
   justify-content: center;


}
.navbar  a{
    color: black;
    text-decoration: none;
    margin: 20px;
}
.navbar .rightside button{
   background-color: transparent;
   border: none;
   color: white;
   cursor: pointer;
}
.navbar .rightside svg{
    font-size: 40px;
}
@media only screen and (min-width: 600px){
  .navbar .rightside a{
    display: inherit;
}
  .navbar .rightside{
    justify-content: center;

}
.navbar .rightside button{
    display: inherit;
   }
}
 @media only screen and (min-width: 600px){
    .navbar .rightside button{
        display: none;
    }
    .hiddenLinks{
        display: none;
    }
   
   
    
}







.drop {
    color:black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    width: 200px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
