.navbar{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}
.leftside .logo{
    height: 50px;
    width: auto;
}
.rightside{
    display: flex;
    gap: 20px;
}.navbar .rightside a{
    color: antiquewhite;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar .leftside{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
    justify-content: center;

}
.navbar .leftside .img{
    justify-content: flex-end;
    padding-right: 50px;
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}


.navbar .rightside button{
    display: inherit;
}

@media only screen and (min-width: 600px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar .rightside {
        flex-direction: col;
    }
    .hiddenLinks{
        display: none;
    }
}

