.video{
    width: 100%;
    display: flex;
    justify-items: center; /* Center horizontally */
    align-items: center;
    gap: 60px; 
    max-width: 1200px; /* Set a maximum width for your content */
    margin: 0 auto; /* Center the container */
    padding: 0 20px;
    margin-right: -120px;
}
video.leftside{
    color: black;
    width: 50%;
    height: auto;
    margin-right: -120px;
    
}
.video.rightside{
    
    padding: 0 100px;

    
}
.contactbutton{
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 20px;

}